.sidebar {
	width: 150px;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	background-color: #f4f4f4;
	padding: 20px;
	box-sizing: border-box;
}

.content {
	margin-left: 150px;
	padding: 40px;
	flex-grow: 1;
}

.hidden {
  display: none !important;
}